{% trans_default_domain 'FOSUserBundle' %}

<div class="col-md-3"></div>
<div class="col-md-6">
    <h1 style="text-align: center;">Registration</h1>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="form-group">
        {{ form_label(form.username) }}
        {{ form_widget(form.username, { attr: { class: 'form-control', placeholder: 'Enter username' }}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, { attr: { class: 'form-control', placeholder: 'Enter email' }}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, { attr: { class: 'form-control', placeholder: 'Password' }}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, { attr: { class: 'form-control', placeholder: 'Confirm password' }}) }}
    </div>
    <div class="form-group text-right" style="child-align: right;">
        <input type="submit" class="btn btn-primary text-right" value="Submit">
    </div>
    {{ form_end(form) }}
</div>
<div class="col-md-3"></div>
