{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header">Add Issue</h2>
    {{ form_start(form) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_label(form.category) }}
    {{ form_widget(form.category) }}
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_label(form.priority) }}
    {{ form_widget(form.priority) }}
    {{ form_label(form.dueDate) }}
    {{ form_widget(form.dueDate) }}
    <input type="submit" class="btn btn-primary" value="Create">
    {{ form_end(form) }}
{% endblock %}