<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Sign in{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
    <div class="container">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
            <div class="form">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" style="text-align: center; margin-top: 5%">
                            <a href="#"><img src="https://s13.postimg.org/r7a1xqv1j/1480623034_lock.png" alt="login" class="icon-login" style="width: 15%; height: 15%;"></a>
                            <h2>SIGN IN</h2>
                        </div>

                        {% for flash_message in app.session.flashbag.get('notice') %}
                            <div class="alert alert-success">{{ flash_message }}</div>
                        {% endfor %}
                        {% for flash_message in app.session.flashbag.get('error') %}
                            <div class="alert alert-danger">{{ flash_message }}</div>
                        {% endfor %}

                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <form action="{{ path('login') }}" method="post">
                            <div class="form-group">
                                <label for="username">Email:</label>
                                <input type="email" class="form-control" id="username" name="_username" required value="{{ last_username }}" placeholder="Email">
                            </div>

                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" id="password" class="form-control" name="_password" required placeholder="Password">
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

                            <div class="row">
                                <div class="col-sm-6 col-xs-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox">Remember me</label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-xs-6" style="text-align: right">
                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                </div>
                            </div>

                        </form>

                        <div class="form-group">
                            <a href="{{ path('register') }}">Sign up</a>
                        </div>
                        <div class="form-group">
                            <a href="{{ path('reset_password') }}">Forgot your password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.container -->
</body>